<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>TV Eye - About</title>

  <link href="/application.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body class='video-background' style='color: #fff'>

<div class='header'>
   <a href="/" class="web-apprentice-logo">TV Eye</a>
   <br>
<img src="eye.png" />
</div>



<div class='main' style='font-size: 24px'>
About this Site  <br> <br>
</div>

<div class='about'>

<p>
  TV Eye is a free service from <a href="http://craic.com">Craic Computing LLC</a>
</p>

<p>It provides a simple (<i>really simple</i>) way to view YouTube videos without all the comments,
  related videos, etc that clutter up regular YouTube pages.
</p>

<p>When you view a video with TV Eye, the software simply embeds the YouTube video in a
  simple web page which lets you enjoy on the video with none of the distracting clutter.
</p>

<p>TV Eye does not track what videos you are watching .</p>


<p>
You still get video ads... nothing we can do about that... sorry...
</p>



<p>&nbsp;</p>

<p>
TV Eye is NOT affiliated with <a href="https://google.com">Google&trade;</a> or
<a href="https://youtube.com">YouTube&trade;</a></p>

<p>TV Eye is not responsible for any of the video content. We simply embed links to Youtube videos.
If you have any concerns about the content then you should contact  YouTube directly.
</p>


<p>&nbsp;</p>

<p>
All the code used to create TV Eye is available on <a href="http://github.com/craic">Github</a>
so you can create your own sites just like it. The code is released under the terms of the
MIT open source license.
</p>

</div>


</body>
</html>
